In [ ]:
pip install numpy scipy matplotlib ipython scikit-learn pandas pillow imageio mglearn

In [ ]:
pip install pandas

In [ ]:
from IPython.display import display
import numpy as np
import matplotlib.pyplot as plt
import mglearn
import sys
import pandas as pd
import matplotlib
import numpy as np
import scipy as sp
import IPython
import sklearn
import seaborn as sns

In [ ]:
from pandas import Series,DataFrame

In [ ]:
titanic ='/content/drive/파이썬/타이타닉/titanic.csv'

In [ ]:
from google.colab import files
myfile = files.upload()

In [ ]:
import io
import pandas as pd

In [ ]:
train = pd.read_csv(io.BytesIO(myfile['titanic.csv']))
test = pd.read_csv(io.BytesIO(myfile['titanic.csv']))
titanic_df = pd.read_csv(io.BytesIO(myfile['titanic.csv']))
train.head()

In [ ]:
type(titanic_df)

In [ ]:
train.shape

1.타이타닉호에 승선했던 승객은 누구인가?

In [ ]:
titanic_df.info()

In [ ]:
titanic_df.Pclass

In [ ]:
titanic_df.head()

승객들의 성비

In [ ]:
sns.factorplot('Sex',kind='count',data=titanic_df)

2.승객은 어떤 DECK에 있었으며, 그들의 CLASS와 어떤 관계가 있는가?

In [ ]:
print(f'titanic_df의 형식: {type(titanic_df)}')
print(f'Dataframe의 크기: {titanic_df.shape}')

In [ ]:
deck = titanic_df['Cabin'].dropna()
deck.head(100)

In [ ]:
levels = []
for level in deck:
    levels.append(level[0])

In [ ]:
cabin_df = DataFrame(levels)
cabin_df.columns = ['Cabin']
cabin_df.head()

In [ ]:
sns.factorplot('Cabin',kind='count',data=cabin_df)

In [ ]:
cabin_df

In [ ]:
cabin_df = cabin_df[cabin_df.Cabin != 'T']

In [ ]:
sns.factorplot('Cabin',kind='count',data=cabin_df)

3.어떤 요소가 승객을 생존하게 했는가?

---
>침몰한 타이타닉호에 어떤 요소가 생존률을 높였는지 분석

>생존한 승객의 정보는 Survived에 0과 1로 표시

1)생존률 확인

In [ ]:
titanic_df["Survivor"] = titanic_df.Survived.map({0:"no",1:"yes"})

In [ ]:
titanic_df.groupby(['Sex','Survived'])['Survived'].count()

In [ ]:
pd.crosstab(titanic_df.Sex,titanic_df.Survived,margins=True).style.background_gradient(cmap='summer_r')

남자:109 생존
     468 사망
여자:233 생존
     81사망

In [ ]:
pd.crosstab(titanic_df.Pclass,titanic_df.Survived,margins=True).style.background_gradient(cmap='summer_r')

1클래스:136명 생존 2클래스:87명 생존 3클래스:119명 생존

In [ ]:
sns.lmplot('Age','Survived',data=titanic_df)

연령대가 높아질 수록 생존률은 낮아짐

2)Survived 에 0과 1로 표시 및 생존자 수

In [ ]:
titanic_df["Survivor"] = titanic_df.Survived.map({0:"no",1:"yes"})

In [ ]:
titanic_df.head()

In [ ]:
titanic_df['Survivor'].value_counts()

생존자 :342명 , 사망자 549명

4.생존자는 몇명인지 그래프로 알아보자

In [ ]:
sns.factorplot('Survived',kind='count',data=titanic_df)

5. 생존확률에 어떤 요소가 작용했는지 알아보기 위해 Pclass 피쳐에 대해 
> 다른 속성들과의 상관관계가 있는지 2개이상 속성으로 상관관계를 알아보자

In [ ]:
sns.factorplot('Pclass','Survivor',data=titanic_df)

In [ ]:
titanic_df.Pclass

In [ ]:
sns.factorplot('Pclass','Survived',data=titanic_df,order=[1,2,3])

클래스가 낮을수록 생존률이 낮아진다

In [ ]:
sns.factorplot('Sex',kind='count',data=titanic_df)

여성보다 남성이 생존률이 높다

In [ ]:
sns.lmplot('Age','Survived',data=titanic_df)

나이가 많을 수록 생존률이 낮다

In [ ]:
sns.lmplot('Age','Survived',hue='Pclass',data=titanic_df)

클래스가 높고 나이가 어릴 수록 생존률이 올라가고, 클래스가 낮고 나이가 많을 수록생존률은 낮아진다.

In [ ]:
sns.lmplot('Age','Survived',hue='Sex',data=titanic_df)

남성은 나이가 많을수록 생존률이 낮고, 여성은 나이가 많을수록 생존률이 높다...?

나이,성별,클래스 간의 생존률 확인